@page "/documentintelligence"

<PageTitle>Document Intelligence APIs</PageTitle>

<h1>Welcome to the demo for the Document Intelligence APIs!</h1>

<p>Click on the following links to test the functionality available in the API:</p>

<ul>
    <li><a href="/receipt">Receipt API</a></li>
    <li><a href="/invoice">Invoice API</a></li>
    <li><a href="/patientform">Patient form (custom model)</a></li>
</ul>

@code {

}